# Repository/Project Specific

# Repository/Project Shared
/artifacts/

# Xilium Repository Conventions
[Bb]in/
[Oo]bj/

# Python
*.pyc

# IDE: Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE: Visual Studio Code
!.vscode/

# IDE: IDEA family
.idea

# IDE: Xamarin Studio (MonoDevelop)
*.userprefs
